@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Payments Report";
    Layout = "~/Views/Shared/WUCAdminLeftMenu.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}

<div class="pageheading_bar" align="center">
    <b>Billing Report</b>
</div>
