@model PPCP07302018.Models.Admin.Login

<div id="divOTPAfterLogin" style="display: none; position: relative" align="center">
    <div class="Page_Dimmer">
    </div>
    <div class="PopupHolder" style="top: 30%;left: 40%; width: 400px">
        <div class="pageheading_bar" style="width: 100%; height: 70%;">
            <div style="vertical-align: middle">
                <div style="vertical-align: middle">
                    My Physician Plan<span style="float: right; color: Red;
                            margin-right: 5px;"></span>
                </div>
            </div>
        </div>
        <div style="border: Solid 1px #33CCEE; width: 100%;">
            <div align="center">
                Please Enter Sign In Code<br />
                @Html.TextBoxFor(m => m.OTP, new { @Class = "k-textbox user_name form-control", PlaceHolder = "OTP", type = "text", autocomplete = "off", style = "width:40%;", maxlength = 10 })
                <span id="lblUserMessagee" style="color: Green; font-family: Verdana,Tahoma; font-size: 15px;
                        font-weight: bold; text-align: center; margin-top: 8px; margin-left: 3px; display: none;">
                </span><span id="lblUserMessag" style="color: red; font-family: Verdana,Tahoma; font-size: 15px;
                        font-weight: bold; text-align: center; margin-top: 8px; margin-left: 3px; display: none;">
                </span>
            </div>
            <div align="center">
                <br />
                <button id="btnClose" title="Close" style="width: 80px" class="button_blue" onclick="divPopUpSuccessClose();">
                    OK
                </button>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>



