@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/WUCOrgLeftMenu.cshtml";
    var ServiceUrl = (System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"].ToString());
}
<div class="pageheading_bar" align="center">
    <b>Billing Dashboard</b>
</div>
