@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using System.Web.Mvc
@{
    ViewBag.Title = "DefaultPage";
    Layout = "~/Views/Shared/BaseMaster.cshtml";
}

<h2>DefaultPage</h2>
@Html.Kendo().DropDownList().Name("Salutation").HtmlAttributes(new { style = "width:80%" }).DataTextField("Text").DataValueField("Value").Events(events =>
{
}).DataSource(source =>
{
    source.Read(read =>
    {
        read.Action("", "");
    });
})
